.p-3{
    padding: 20px;
}
.p-l{
    padding-left: 10px;
}
.p-r{
    padding-right: 10px;
}
.row{
    display: flex;
}
.d-flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.success{
    background-color: black;
    color: green;
}
.m-1{
    margin: 10px;
}
.danger{
    color: red;
}
.great{
    color: green;
}

.text-padding{
    padding: 50px 0px 0px 500px;
    font-size: 25px;
}
